@import url(https://db.onlinewebfonts.com/c/2f461fe079ad1377f4d31c50ee133cf2?family=Palatino+Linotype+W02+Italic);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ margin: 0; box-sizing: border-box; }
ul{ padding: 0; list-style: none; }
a{ text-decoration: none; color: inherit; display: inline-block; }
button{ padding: 0; cursor: pointer; }
img{ vertical-align: bottom; }

html{ font-size: 15px; --montserrat: "Montserrat"; --palatino: "Palatino Linotype W02 Italic"; font-family: var(--montserrat), sans-serif; --poppins: "Poppins"; }
body{ font-size: 16px; }

.container{ max-width: 1230px; padding: 0 1rem; margin: auto; }
.container-lg{ max-width: 1400px; padding: 0 1rem; margin: auto; }
.container-full{ max-width: 100%; padding: 0 1rem; margin: auto; }

.row{ display: flex; margin: 0 -1rem; flex-flow: row wrap; }
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-12{ flex-basis: 100%; max-width: 100%; }

.flex{ display: flex; }
.justify-center{ justify-content: center; }
.align-center{ align-items: center; }
.grid{ display: grid; place-items: center; }

/*  */
.btn{ color: inherit; padding: 15px 20px; display: inline-block; border: none; }
.btn.tab{  font: 600 13px var(--montserrat); text-transform: uppercase; border-radius: 22px; }
.btn.btn-shadow{ border-radius: 10px; font: 600 1rem var(--montserrat); box-shadow: 0 10px 0 0 #ff5990; }
.btn.active, .btn.btn-shadow{ color: #fff; background: #f42267; }


/* Header */
header{ background: url(../img/bg/header-bg.webp) no-repeat center top/cover; color: #fff; overflow: hidden; }
.navbar{ padding: 50px 0; }
header h1{ font: 600 42px/44px var(--montserrat); margin-left: 15px; }
nav{ justify-content: flex-end; }
nav ul{ gap: 36px; }
nav a{ font: 600 17px/18px var(--montserrat); }
nav label, nav input{ display: none; }

/* Banner */
.banner{ padding: 5rem 0 13rem; }
.banner h2{ font: 2.8rem/3rem var(--palatino); margin-top: 2rem; padding-top: 10px; }
.banner h3{ font: 600 4.3rem/4.5rem var(--montserrat); margin-top: 2rem; padding-top: 10px; }
.banner p{ font: 400 23px/32px var(--montserrat); margin-top: 2rem; padding-top: 5px; }
.banner ul{ margin: 4rem 0 0 3rem; padding: 10px 0 0 10px; flex-flow: wrap; gap: 20px; }
.banner a{ font: 600 17px/15px var(--montserrat); text-transform: uppercase; padding: 1.67rem 3.3rem; border: none; border-radius: 35px; color: inherit; flex: 1 0 auto; display: inline-block; }
.banner a.pink{ background-color: #f42267; box-shadow: 1px 2px 4px #01020259; }
.banner a.purple{ background-color: #68328ebf; box-shadow: 1px 2px 4px #01020259; }

/* Brand */
.brand{ padding: 100px 0 0; color: #484848; position: relative; z-index: 1; }
.brand img{ max-width: 100%; height: auto; }
.brand h2{ font: 2.2rem/2.3rem var(--palatino); margin-top: 20px; }
.brand h3{ font: 600 3.3rem/3.5rem var(--montserrat); margin-top: 20px; }
.brand ul{ margin-top: 35px; gap: 10px; overflow-x: auto; }
.brand li{ margin-right: 8px; flex-shrink: 0; }
.brand p{ margin-top: 28px; font: 400 14px/25px var(--montserrat); }
.brand .btn-shadow{ margin-top: 55px; }
.brand .watch{ text-align: right; }
.brand .container-full::after{ position: absolute; content: ""; z-index: -1; top: 0; left: 0; right: 0; background-image: url(../img/bg/WorldMap.webp); background-size: cover; background-position: left top; background-repeat: no-repeat; height: calc(100% + 156px); }

/* Achievements */
.achievements{ background-color: #4b2d7f; color: #fff; }
.achievements .box{ flex-flow: column; text-align: center; padding: 5rem 0 6.66rem; max-width: 350px; }
.achievements .center-card{ background-color: #40286a; }
.achievements .box.left{ margin-left: auto; margin-right: 0; }
.achievements .box.center{ margin: 0 auto;  }
.achievements .box.right{ margin-left: 0; margin-right: auto; }
.achievements .box .number{ font: 600 50px/62px var(--montserrat); margin-top: 2.7rem; }
.achievements .box .title{ font: 600 25px/30px var(--montserrat); margin-top: 2rem}
.achievements .box .caption{ font: 400 15px/24px var(--montserrat); color: #9583b4; margin-top: 2.7rem; }

/* Let's grow together */
.join-us{ background: url(../img/bg/joinBg.webp) no-repeat center center / cover; color: #fff; text-align: center; padding: 5rem 3rem 5rem 5rem; }
.join-us h2{ font: 3.2rem/3.3rem var(--palatino); margin: 10px 10px 0 10px; }
.join-us h3{ font: 600 3.3rem/3.5rem var(--montserrat); margin: 10px 10px 0 10px; }
.join-us p{ font: 400 20px/32px var(--montserrat); margin: 40px 10px 50px 10px; }
.join-us a{ margin-bottom: 12px; }

/* designs */
.design{ padding: 5rem 8rem; color: #484848; }
.design h2{ font: 2.2rem/2.3rem var(--palatino); margin-top: 25px; }
.design h3{ font: 600 3.3rem/3.5rem var(--montserrat); margin-top: 20px; }
.design p{ margin-top: 30px; font: 400 18px/25px var(--montserrat); }
.design .box{ margin-top: 3rem; padding: 20px 0; }
.design .box h4{ margin-top: 1rem; font: 600 25px/29px var(--montserrat); }
.design .box p{ font: 400 14px/25px var(--montserrat); margin-top: 20px; }
.design .btn-shadow{ margin-top: 50px; margin-bottom: 20px; }
.design .img-container{ display: grid; place-items: center; height: 100%; position: relative; }
.design .img-container > img{ width: 100%; height: auto; }
.design .play{ position: absolute; width: 100px; height: 100px; border-radius: 50%; border: none; background-color: #f42267; display: grid; place-items: center; }

/* recent works */
.work{ padding: 5rem 0 8rem; color: #333; text-align: center; background-color: #f1f1f1; }
.work h2{ font: 600 3.3rem/3.5rem var(--montserrat); margin: 5px 0; }
.work p{ font: 400 20px/32px var(--montserrat); margin: 3rem 0 5px; }
.work ul{ margin-top: 3rem; margin-bottom: 5rem; overflow-x: auto; }
.work li{ flex-shrink: 0; }
.work img{ margin-bottom: 30px; width: 100%; height: auto; }
.work .btn-shadow{ margin: 4rem 0 10px; }

/* clients section */
.clients{ background-color: #4b2d7f; padding: 110px 0 115px; }
.clients .grid{ margin-bottom: 58px; }

/* reviews section */
.reviews{ background: url(../img/bg/client-review-bg.webp) no-repeat center top / cover; color: #fff; padding: 5rem 0 7rem; }
.reviews .content{ max-width: 560px; margin-left: 70px; }
.reviews h2{ font: 41px/79px var(--palatino); }
.reviews h3{ font: 600 50px var(--montserrat); }
.reviews blockquote{ font: 300 22px var(--montserrat); position: relative; padding: 56px 0px 0px 80px; margin-top: 24px; }
/* .reviews blockquote{ font: 300 22px var(--montserrat); margin-top: 55px; position: relative; padding-left: 80px; } */
.reviews .rating{ margin: 82px 0 30px; }
.reviews blockquote::before{ content: open-quote; font: 300 italic 201px/202px var(--montserrat) ; color: #f42267; position: absolute; top: 0; left: 0; }

/* help section */
.help{ background: url(../img/bg/help-bg.webp) no-repeat center center / cover; padding: 5rem 0 4rem; color: #fff; text-align: center; }
.help h2{ font: 600 3.33rem var(--montserrat); margin-top: 10px; }
.help b{ font: 600 30px/48px var(--montserrat); margin-top: 25px; }
.help p{ font: 400 18px/25px var(--montserrat); margin-top: 30px; }
.help form{ margin-top: 64px; }
.help form  input{ min-width: 300px; font: 400 15px var(--montserrat); background-color: #f86f9c80; border: none; color: #fff; padding: 22px 10px 24px 41px; border-radius: 10px; max-height: 100%; width: 100%; margin-bottom: 20px; transition: 100ms; }
.help form input:focus-within{ outline: solid #fff; }
.help form input::placeholder{ color: #fff; }
.help form .btn-shadow{ background-color: #4b2d7f; box-shadow: 0 10px 0 0 #a57ee9; padding: 20px 40px 15px 45px; margin-bottom: 20px; }

/* Social */
.social{ background-color: #4b2d7f; padding: 82px 0; color: #fff; }
.social ul{ overflow: auto; }
.social li{ display: flex; align-items: center; }
.social li:not(:first-child)::before { content: ''; display: inline-block; width: 2px; height: 28px; background-color: #fff; }
.social a{ font: 400 27px/38px var(--montserrat); padding: 10px; margin: 0 1.46rem; }

/* About */
.about{ padding: 8rem 0 3rem; color: #171717; position: relative; z-index: 1; }
.about .company{ margin: 0 -1rem 6rem; }
.about h3{ font: 700 1.66rem var(--poppins); color: #4b2d7f; margin-bottom: 2rem; }
.about ul{ padding-left: 1rem; }
.about a{ font: 600 15px/24px var(--poppins); }
.about .img-container{ padding: 0 1rem 2rem; width: 100%; height: auto; }
.about img{ max-width: 100%; height: auto; }
.about::after{ position: absolute; content: ""; z-index: -1; top: 0; left: 0; right: 0; background-image: url(../img/bg/WorldMap.webp); background-size: cover; background-position: left top; background-repeat: no-repeat; height: calc(100% + 90px); }

/* footer */
footer{ background-color: #f6f6f6; color: #171717; font: 600 18px var(--poppins); padding: 58px 0 50px; gap: 1rem; }
footer ul{ gap: 1rem; }
footer a{ gap: 1rem; padding: 0 1rem; }
footer li::before{ content: '\2022'; font: 600 10px var(--poppins); }



/* responsive */
@media screen and (max-width:1420px){
    
}

@media screen and (max-width: 1250px) {
    .about .company{ margin: 0 0 6rem 0; }
}

@media screen and (max-width: 980px) {
    html{ font-size: 14px; }
    .col-t-1{ flex-basis: 8.33%; max-width: 8.33%; }
    .col-t-2{ flex-basis: 16.66%; max-width: 16.66%; }
    .col-t-3{ flex-basis: 25%; max-width: 25%; }
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-t-6{ flex-basis: 50%; max-width: 50%; }
    .col-t-7{ flex-basis: 58.33%; max-width: 58.33%; }
    .col-t-8{ flex-basis: 66.66%; max-width: 66.66%; }
    .col-t-9{ flex-basis: 75%; max-width: 75%; }
    .col-t-10{ flex-basis: 83.33%; max-width: 83.33%; }
    .col-t-12{ flex-basis: 100%; max-width: 100%; }

    nav{ flex-flow: column; justify-content: center; align-items: flex-end; position: relative; }
    nav ul{ opacity: 0; visibility: hidden; background-color: #fff; color: #000; transition: 400ms; padding: 20px 50px; border-radius: 20px; transform: translateX(100%); }
    nav label{ display: block; }
    nav input:checked+label+ul{ visibility: visible; opacity: 1; transform: translateX(0); }
    nav ul.flex{ flex-flow: column; position: absolute; top: 45px; right: 10px; }

    .banner ul{ margin-left: 0; }

    .brand .watch{ order: -1; }
    .brand .btn-shadow{ margin-bottom: 115px; }
    .brand ul{ overflow-x: auto; }

    .achievements .box.left{ margin: 0 auto; }
    .achievements .box.center{ margin: 0 auto;  }
    .achievements .box.right{ margin: 0 auto; }

    .design .img-container{ order: -1; }
    .about .grid{ order: -1; margin-bottom: 3rem; }
}

@media screen and (max-width: 767px) {
    .social a{ margin: 0 1rem; }
}

@media screen and (max-width: 460px) {
    html{ font-size: 13px; }
    .col-p-1{ flex-basis: 8.33%; max-width: 8.33%; }
    .col-p-2{ flex-basis: 16.66%; max-width: 16.66%; }
    .col-p-3{ flex-basis: 25%; max-width: 25%; }
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .col-p-7{ flex-basis: 58.33%; max-width: 58.33%; }
    .col-p-8{ flex-basis: 66.66%; max-width: 66.66%; }
    .col-p-9{ flex-basis: 75%; max-width: 75%; }
    .col-p-10{ flex-basis: 83.33%; max-width: 83.33%; }
    .col-p-12{ flex-basis: 100%; max-width: 100%; }

    nav{ align-items: flex-start; top: 20px; }
    nav ul{ transform: translateX(-100%); }
    nav ul.flex{ top: 45px; left: 10px; }

    .join-us{ padding: 5rem 1rem 5rem 1rem; }
    .join-us h2{ font: 2.9rem/3rem var(--palatino); }
    .join-us h3{ font: 3rem/3.3rem var(--montserrat); }

    .design{ padding: 5rem 1rem; color: #484848; }

    .reviews .content{ max-width: 100%; margin-left: 0; }

    .social ul{ justify-content: flex-start; }

    footer.flex, footer ul.flex{ flex-flow: column; }
}